#explicacao-img {
  width: 80%;
  margin: 2%;
}

::selection {
  background: red;
}

.button {
  background-color: red;
}

.button:focus, .button:hover {
  background-color: #f24545;
}

.icon-button:hover {
  color: #eaa9a9;
  background-color: rgba(208, 104, 104, 0.11);
}

.icon-button.star-icon.active {
  color: #ff2121;
  background-color: rgba(208, 104, 104, 0.11);
}

.column-link:hover, .column-link--transparent:hover {
  border-radius: 0.34em;
  background: #ea706a29;
}

.column-link--transparent.active {
  color: #f24545;
}
